{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    {{ form_start(form)}}

    {{form_row(form._token)}}

    {{ form_label(form.name, 'name')}}
    {{ form_widget(form.name, {'attr': {'maxlength': '50'}})}}

    {{ form_label(form.price, 'prix')}}
    {{ form_widget(form.price, {'attr': {'maxlength': '50'}})}}

    {{ form_label(form.img, 'Image')}}
    {{ form_widget(form.img, {'attr': {'maxlength': '255'}})}}

    {{ form_label(form.category, 'Categorie')}}
    {{ form_widget(form.category, {'attr': {'maxlength': '50'}})}}

    {{ form_label(form.save, 'Add')}}
    {{ form_widget(form.save)}}

    {{ form_end(form, {'render_rest':false})}}
  </div>
{% endblock %}
